AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: LLVM
BreakBeforeTernaryOperators: true
ColumnLimit: 100
IndentAccessModifiers: true
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Middle
SpacesInContainerLiterals: true
TabWidth: 4
