CompileFlags:
    CompilationDatabase: build
Diagnostics:
    ClangTidy:
        Add:
            - bugprone*
            - misc*
            - performance*
            - readability*
        Remove:
            - bugprone-easily-swappable-parameters
            - readability-braces-around-statements
            - readability-magic-numbers
            - readability-identifier-length
            - readability-isolate-declaration
